<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  *{
    list-style: none;
  }
</style>

<body>
  <ul class="list">
    <li></li>
  </ul>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script>
    const list = document.querySelector('.list');
    let temparr = []

    // getApi test-----------------------
    function getData() {
      axios.get('http://localhost:3000/api/test')
        .then((res) => {
          // console.log(res.data);
          temparr = res.data.testData;
          renderData();
        })
    }
    getData();
    
    // ---------------------------------

    function renderData() {
      let str = '';
          temparr.forEach((item) => {
            str += `<li><h2>${item.content}</h2></li>`
          });
          list.innerHTML = str;
    }

    // middleware test------------------
    function mdTest() {
      axios.get('http://localhost:3000/api/mdTest')
      .then(res => console.log(res))
    }

    mdTest()
    // ---------------------------------

  </script>
</body>

</html>